{% extends 'base.html' %}


{% block page_content %}

        <!-- Dashboard Page-->
        <section id="dashboard-page" class="dashboard">
            <h1>Dashboard</h1>
            {% if not books %}
             <!-- Display paragraph: If the user doesn't have any books  -->
                <p class="no-books">No books in database!</p>
            <!-- Display ul: with list-items for every books if any -->
            {% else %}
                {% for book in books %}
{#                    {% if forloop.counter|divisibleby:3 %}#}
                    {% if book in first_books %}
                        {% if not book == first_book %}
                            </ul>
                        {% endif %}
                        <ul class="my-books-list">
                            <li class="myBooks">
                                <h3>{{ book.title }}</h3>
                                <p>Type: {{ book.type }}</p>
                                <p class="img"><img src="{{ book.image }}" alt=""></p>
                                <a class="button" href="{% url 'details book' book.pk %}">Details</a>
                            </li>



                    {% else %}
                        <li class="myBooks">
                            <h3>{{ book.title }}</h3>
                            <p>Type: {{ book.type }}</p>
                            <p class="img"><img src="{{ book.image }}" alt=""></p>
                            <a class="button" href="{% url 'details book' book.pk %}">Details</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </section>

{% endblock %}
